@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Raleway&display=swap");
html {
  font-size: 62.5%; }

h1 {
  font-size: 6.2rem;
  margin: 0;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive; }

h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'lato', sans-serif;
  font-weight: bold; }

p {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7rem; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
  font-weight: normal; }

#contenedor {
  display: grid;
  grid-template-areas: "navegacion" "principal" "pie";
  grid-template-columns: 100%;
  width: 100%; }

main {
  grid-area: principal; }

@media only screen and (max-width: 767px) {
  .spacing {
    margin-top: 20px; } }

/*map & mixin*/
/*fin map*/
.titulo-bg {
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 100px;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center; }

@media only screen and (max-width: 767px) {
  .titulo-bg {
    padding-top: 100px;
    padding-bottom: 50px; } }

.inicio-titulo {
  font-weight: 100;
  letter-spacing: 0.1rem;
  color: azure;
  margin-bottom: 25px; }

.inicio-titulo-color {
  color: #e1c04f; }

.inicio-subtitulo {
  color: whitesmoke;
  font-weight: normal;
  text-align: center;
  margin-bottom: 100px; }

.tiny-space {
  margin-bottom: 100px;
  padding-bottom: 100px; }

/* ------------------HEADER------------------ */
.nav-link {
  font-size: 1.5rem;
  font-weight: bold;
  color: black !important;
  font-family: 'lato', sans-serif;
  padding: 0 10px !important; }
  .nav-link:hover {
    color: #e1c04f !important; }

.hr-header {
  margin: 0;
  visibility: hidden; }

@media only screen and (max-width: 1199px) {
  .hr-header {
    visibility: visible; } }

@media only screen and (max-width: 1199px) {
  .container {
    min-width: 100%;
    padding: 0; }
    .container nav a {
      padding: 5px 0 5px 3%; }
    .container nav button {
      padding-right: 5%; } }

@media only screen and (min-width: 1200px) {
  .container {
    min-width: 100%;
    padding: 5px 6% 5px 8%; } }

.navbar-light .navbar-toggler-icon {
  font-size: 22px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  .navbar-light .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(225,192,79, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-toggler {
  border: none; }
  .navbar-toggler:focus {
    box-shadow: none; }

/* ------------------FIN DE HEADER------------------ */
/* ------------------FOOTER------------------ */
footer {
  grid-area: pie;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  font-family: 'lato', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: black; }
  footer .footer {
    min-height: 50px; }
  footer .footer-redes {
    text-align: center;
    color: white;
    margin-top: 25px; }
    footer .footer-redes h2 {
      margin: auto; }
  footer .footer-nav-links {
    list-style: none;
    margin: auto; }
    footer .footer-nav-links li {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 0px 10px; }
    footer .footer-nav-links li a {
      transition: all 0.3s ease 0s;
      text-decoration: none;
      color: white; }
  footer hr {
    color: white;
    text-align: center;
    margin: 10px auto 0 auto;
    width: 270px; }
  footer .fa {
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; }
    footer .fa:hover {
      opacity: 0.7;
      color: black; }
  footer .fa-twitter {
    background: #55ACEE;
    color: white; }
  footer .fa-instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    color: white; }
  footer .fa-facebook {
    background: #3B5998;
    color: white; }
  footer .fa-vimeo {
    background: #c63434;
    color: white; }

@media only screen and (max-width: 767px) {
  footer {
    display: block;
    text-align: center; }
    footer .footer-nav-links li {
      padding: 0; } }

/* ------------------FOOTER------------------ */
/*000webhost*/
.disclaimer {
  display: none !important; }

.footer {
  margin: 0 !important; }

button {
  font-family: 'lato', sans-serif; }

/* boton de inicio */
.boton-principal {
  appearance: none;
  background-color: transparent;
  border: 2px solid whitesmoke;
  border-radius: 15px;
  box-sizing: border-box;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform; }
  .boton-principal:disabled, .boton-secundario:disabled {
    pointer-events: none; }
  .boton-principal:hover {
    border: #e1c04f;
    color: black;
    background-color: #e1c04f;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px); }
  .boton-principal:active, .boton-secundario:active {
    box-shadow: none;
    transform: translateY(0); }

/* fin de boton de inicio */
/* boton secundario */
.boton-secundario {
  appearance: none;
  background-color: #e1c04f;
  border: 2px solid #e1c04f;
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: normal;
  margin-left: 25%;
  min-height: 0;
  min-width: 0;
  outline: none;
  padding: 13px 50px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform; }
  .boton-secundario:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px); }

/* fin de boton secundario */
/* ------------------INDEX------------------ */
/* titulo */
#inicio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../assets/img/asian-food-gb48221ff3_1920.jpg"); }

/* fin de titulo */
/* seccion sobre nosotros*/
#nosotros-index {
  width: 95%;
  max-width: 95%;
  display: grid;
  grid-template-columns: 600px 600px;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0; }
  #nosotros-index div {
    width: 600px;
    overflow: visible;
    margin: 20px;
    text-align: center; }
  #nosotros-index div img {
    max-width: 80%;
    max-height: 80%;
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1); }
    #nosotros-index div img:hover {
      transform: scale(1.1, 1.1); }
  #nosotros-index h2 {
    font-size: 3.5rem;
    text-align: start; }
  #nosotros-index p {
    text-align: start;
    margin-bottom: 1.7rem;
    font-family: 'Raleway', sans-serif; }
  #nosotros-index button {
    display: flex;
    justify-content: start; }

@media only screen and (max-width: 1199px) {
  #nosotros-index {
    display: flex;
    flex-wrap: wrap; }
    #nosotros-index h2 {
      text-align: center; }
    #nosotros-index hr {
      margin: 0 15% 10px 15%; }
    #nosotros-index p {
      text-align: center; }
    #nosotros-index button {
      margin: auto; } }

/* fin de seccion sobre nosotros */
/* seccion video */
.index-video {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.9);
  height: 50vh; }

/* fin de seccion video */
/* productos */
.index-productos-titulo {
  font-size: 3rem;
  margin: 80px 0 40px 0;
  text-align: center; }

#index-productos {
  margin: 50px 0 50px 0; }
  #index-productos a {
    color: inherit;
    text-decoration: none; }

.index-productos-boton {
  text-align: center; }

#index-productos-boton {
  margin: 0 0 50px 0; }

/* fin de productos */
/* media */
#media {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #26252d; }
  #media img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    transition: all 0.5s;
    box-sizing: border-box;
    border-color: #26252d;
    border-style: solid;
    border-width: 1px; }

@media only screen and (max-width: 767px) {
  #media {
    grid-template-columns: repeat(4, 1fr); }
    #media .media-hidden-phone {
      display: none; }
    #media .media-hidden-tablet {
      display: none; } }

@media only screen and (min-width: 768px) {
  #media {
    grid-template-columns: repeat(5, 1fr); }
    #media .media-hidden-phone {
      display: none; }
    #media .media-hidden-tablet {
      display: grid; } }

@media only screen and (min-width: 1200px) {
  #media {
    grid-template-columns: repeat(6, 1fr); }
    #media .media-hidden-phone {
      display: grid; }
    #media .media-hidden-tablet {
      display: grid; } }

/* fin de media */
/* ------------------FIN DE INDEX------------------ */
/* ------------------MENU------------------ */
/* titulo */
#titulo-menu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../assets/img/pexels-cottonbro-3298065.jpg"); }

/* fin de titulo */
/* contenedor menu */
.menu__lista {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px; }
  .menu__lista a {
    color: inherit;
    text-decoration: none; }
  .menu__lista div {
    width: 300px;
    height: 360px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    cursor: pointer; }
    .menu__lista div:hover {
      transform: translateY(-15px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
    .menu__lista div img {
      width: 300px;
      max-height: 220px; }
    .menu__lista div h4 {
      margin: 20px 0 10px 0; }
    .menu__lista div p {
      margin: 0 10px 0 10px; }

.menu__titulo h2 {
  text-align: center;
  margin: 50px 0 40px 0;
  font-size: 3.5rem; }

/* fin de contenedor menu */
/* ------------------FIN DE MENU------------------ */
/* ------------------NOSOTROS------------------ */
#titulo-nosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../assets/img/pexels-cottonbro-3296546.jpg"); }

.big-letter {
  font-weight: bold;
  font-size: 3.5rem; }

.map-container iframe {
  height: 500px;
  width: 100%;
  margin: 0;
  padding: 0; }

/* ------------------FIN DE NOSOTROS------------------ */
.hr__socalo {
  box-shadow: 0 1px 3px #870000b6;
  border: 0;
  background-color: black;
  height: 1px; }

/* COMBOS LAYOUT*/
.go-back {
  text-decoration: none;
  color: black;
  font-family: 'lato', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  margin-left: 10px;
  text-decoration: underline; }
  .go-back:hover {
    color: #e1c04f; }

#productos {
  width: 95%;
  max-width: 95%;
  display: grid;
  grid-template-columns: 600px 600px;
  align-items: top;
  justify-content: center;
  margin: 75px 0 150px 0; }
  #productos div {
    width: 600px;
    overflow: visible;
    margin: 20px;
    text-align: center; }
    #productos div img {
      max-width: 80%;
      max-height: 80%;
      transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
      margin-top: 20px; }
      #productos div img:hover {
        transform: scale(1.1, 1.1); }
  #productos h2 {
    text-align: start;
    font-size: 3.5rem; }
  #productos p {
    text-align: start;
    margin-bottom: 40px;
    font-family: 'Raleway', sans-serif; }

@media only screen and (max-width: 1200px) {
  #productos {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 50px 0; }
    #productos h2 {
      text-align: center; }
    #productos hr {
      margin: 0 15% 10px 15%; }
    #productos p {
      text-align: center; }
    #productos div img {
      max-width: 100%;
      max-height: 100%; }
      #productos div img:hover {
        transform: scale(1, 1); } }

/* ------------------- */
#productosInformacion {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left; }
  #productosInformacion .productosInformacion__arreglo {
    color: red; }
  #productosInformacion div {
    margin: 0px;
    width: 450px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center; }
  #productosInformacion div h4 {
    margin: 20px 0 10px 0; }

.hr__productosInformacion {
  background-color: rgba(95, 95, 95, 0.4);
  height: 1px;
  border: 0; }

@media only screen and (max-width: 500px) {
  #productosInformacion div {
    width: 90%; } }

@media only screen and (max-width: 1200px) {
  #productosInformacion {
    justify-content: center; } }

/* FIN DE COMBOS LAYOUT */
/* ------------------CONTACTO------------------ */
#titulo-contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../assets/img/pexels-jonas-2787672.jpg"); }

#contacto {
  padding: 0 1% 0 1%; }
  #contacto h2 {
    font-size: 3rem;
    margin-bottom: 20px; }
  #contacto form {
    margin-bottom: 40px; }
    #contacto form div label {
      font-size: 2rem; }
    #contacto form div input {
      font-size: 1.5rem; }
    #contacto form div textarea {
      font-size: 1.5rem; }
    #contacto form div button {
      font-size: 1.4rem;
      margin-bottom: 25px;
      font-weight: bold;
      color: black;
      background-color: #e1c04f;
      border: 2px solid #e1c04f; }

.requerido-simbolo {
  color: red;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif; }

/* ------------------FIN DE CONTACTO------------------ */
/* ------------------SERVICIOS------------------ */
#titulo-servicios {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../assets/img/sushi-gb9cc7bcb9_1920.jpg"); }

.evento-img {
  max-width: 50%;
  margin: 20px 25% 20px;
  box-shadow: 0 0 5px 2px #282a2d; }

@media only screen and (max-width: 767px) {
  .evento-img {
    max-width: 70%;
    margin: 20px 15% 20px; } }

#servicios {
  padding: 0 1% 0 1%;
  text-align: center; }

.servicios-contenedor {
  margin: 25px auto 10px auto;
  border-bottom: 1px solid #d2d2d2; }

.servicios-contenido {
  padding: 25px; }
  .servicios-contenido p {
    text-align: left;
    font-size: 1.5rem;
    color: #464646; }
  .servicios-contenido h2 {
    text-align: left;
    font-size: 2rem; }

.inline-border {
  border-right: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2; }

@media only screen and (max-width: 767px) {
  .servicios-contenido {
    border: none; } }

/* ------------------FIN DE SERVICIOS------------------ */
