/* ------------------CONTACTO------------------ */

#titulo-contacto {
   background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('../assets/img/pexels-jonas-2787672.jpg');
}

#contacto {
   padding: 0 1% 0 1%;

   h2 {
      font-size: 3rem;
      margin-bottom: 20px;
   }

   form {
      margin-bottom: 40px;

      div label {
         font-size: 2rem;
      }

      div input {
         font-size: 1.5rem;
      }

      div textarea {
         font-size: 1.5rem;
      }

      div button {
         font-size: 1.4rem;
         margin-bottom: 25px;
         font-weight: bold;
         color: black;
         background-color: #e1c04f;
         border: 2px solid #e1c04f;
      }
   }
}

.requerido {
   color: rgb(80, 80, 80);
   font-size: 1.5rem;
}

.requerido-simbolo {
   color: red;
   font-size: 2rem;
   font-family: 'Raleway', sans-serif;
}

/* ------------------FIN DE CONTACTO------------------ */