@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Raleway&display=swap');

html {
   font-size: 62.5%;
}

h1 {
   font-size: 6.2rem;
   margin: 0;
   font-weight: bold;
   font-family: 'Bebas Neue', cursive;
}

h2,
h3,
h4,
h5 {
   margin: 0;
   font-family: 'lato', sans-serif;
   font-weight: bold;
}

p {
   margin: 0;
   font-family: 'Raleway', sans-serif;
   font-size: 1.7rem;
}

body {
   margin: 0;
   padding: 0;
   font-size: 1.7rem;
   font-weight: normal;
}

#contenedor {
   display: grid;
   grid-template-areas:
      "navegacion"
      "principal"
      "pie"
   ;
   grid-template-columns: 100%;
   width: 100%;
}

main {
   grid-area: principal;
}

@media only screen and (max-width: 767px) {
   .spacing {
      margin-top: 20px;
   }
}

/*map & mixin*/

$redes: (
   twitter: #55ACEE,
   facebook: #3B5998,
   vimeo: #c63434
);

@mixin font-titulo($weight, $spacing, $color, $margin) {
   font-weight: $weight;
   letter-spacing: $spacing;
   color: $color;
   margin-bottom: $margin;
}

/*fin map*/

.titulo-bg {
   background-size: cover;
   background-position: center;
   padding-top: 200px;
   padding-bottom: 100px;
   padding-left: 25%;
   padding-right: 25%;
   text-align: center;
}

@media only screen and (max-width: 767px) {
   .titulo-bg {
      padding: 100px 15% 50px 15%;
   }
}

.inicio-titulo {
   @include font-titulo(100, 0.1rem, azure, 25px);
}

.inicio-titulo-color {
   color: #e1c04f;
}

.inicio-subtitulo {
   color: whitesmoke;
   font-weight: normal;
   text-align: center;
   margin-bottom: 100px;
}

.tiny-space {
   margin-bottom: 100px;
   padding-bottom: 100px;
}

/* ------------------HEADER------------------ */

.nav-link {
   font-size: 1.5rem;
   font-weight: bold;
   color: black !important;
   font-family: 'lato', sans-serif;
   padding: 0 10px !important;

   &:hover {
      color: #e1c04f !important;
   }
}

.hr-header {
   margin: 0;
   visibility: hidden;
}

@media only screen and (max-width: 1199px) {
   .hr-header {
      visibility: visible;
   }
}

@media only screen and (max-width: 1199px) {
   .container {
      min-width: 100%;
      padding: 0;

      nav {
         a {
            padding: 5px 0 5px 3%;
         }

         button {
            padding-right: 5%;
         }
      }
   }
}

@media only screen and (min-width: 1200px) {
   .container {
      min-width: 100%;
      padding: 5px 6% 5px 8%;
   }
}

.navbar-light .navbar-toggler-icon {
   font-size: 22px;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

   &:hover {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(225,192,79, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
   }
}

.navbar-toggler {
   border: none;

   &:focus {
      box-shadow: none;
   }
}

/* ------------------FIN DE HEADER------------------ */
/* ------------------FOOTER------------------ */
footer {
   grid-area: pie;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 2%;
   font-family: 'lato', sans-serif;
   font-weight: bold;
   font-size: 1.5rem;
   background-color: black;

   .footer {
      min-height: 50px;
   }

   .footer-redes {
      text-align: center;
      color: white;
      margin-top: 25px;

      h2 {
         margin: auto;
      }
   }

   .footer-nav-links {
      list-style: none;
      margin: auto;

      li {
         display: inline-flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
         padding: 0px 10px;
      }

      li a {
         transition: all 0.3s ease 0s;
         text-decoration: none;
         color: white;
      }
   }

   hr {
      color: white;
      text-align: center;
      margin: 10px auto 0 auto;
      width: 270px;
   }

   .fa {
      padding: 10px;
      margin: 20px;
      font-size: 20px;
      width: 100%;
      height: 100%;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;

      &:hover {
         opacity: 0.7;
         color: black;
      }
   }

   .fa-twitter {
      background: map-get($redes, twitter);
      color: white;
   }

   .fa-instagram {
      background: #f09433;
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
      color: white;
   }

   .fa-facebook {
      background: map-get($redes, facebook);
      color: white;
   }

   .fa-vimeo {
      background: map-get($redes, vimeo);
      color: white;
   }
}

@media only screen and (max-width: 767px) {
   footer {
      display: block;
      text-align: center;

      .footer-nav-links li {
         padding: 0;
      }
   }
}

/* ------------------FOOTER------------------ */

/*000webhost*/
.disclaimer {
   display: none !important;
}

.footer {
   margin: 0 !important;
}

/*arreglos pantalla muy pequeña*/
@media only screen and (max-width: 400px) {
   .navbar a img {
      width: 70vw;
      max-width: 270px;
   }

   .navbar-brand {
      width: 70vw;
   }

   .titulo-bg {
      padding-left: 0;
      padding-right: 0;
      margin: 0 auto 0 auto;
   }

   .footer a .logo {
      width: 70vw;
      max-width: 270px;
   }

   .footer-redes hr {
      width: 70vw;
   }

   footer {
      .fa {
         margin: 20px 5vw 20px 4vw;
      }
   }
}